<div class="flex min-h-screen bg-gray-100">
    <!-- Sidebar -->
    <aside class="w-64 bg-white shadow-md px-6 py-4">
      <div class="flex items-center mb-8">
        <img src="assets/fac.png" alt="Logo Factus" class="h-10 mr-2" />
       
      </div>
  
      <nav class="space-y-4">
        <a routerLink="/crear-factura" class="flex items-center text-gray-700 hover:text-indigo-700">
          <span class="material-icons mr-2">add_box</span>
          Crear Facturas
        </a>
        <a routerLink="/ver-facturas" class="flex items-center text-gray-700 hover:text-indigo-700">
          <span class="material-icons mr-2">visibility</span>
          Ver Facturas
        </a>
      </nav>
    </aside>
  
   
  </div>
  